.page-footer {
  background-color: rgb(9, 32, 62,0);
  opacity: 1;
  height: 50px;
  position: aboslute;
  
  bottom: 0;
  width: 100%;
 
}

.footer-copyright, .contact-us {
  text-align: center;
  line-height: 1px;
}

a {
  color: white;
  text-decoration: none;
}
