.page-footer {
  background-color: #273544;
  opacity: 1;
  height: 50px;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-copyright, .contact-us {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
