
.mat-tab-label.mat-tab-label-active {
    background-color: #00BCD4;
    opacity: 1;
    color: #212121;
}

.mat-tab-label {
  background-color: #212121;
  color: #ffffff;
}

.mat-tab-labels {
    background-color: #212121;
    color: #ffffff !important;

}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #B2EBF2;
}
