
<br>
<br>
<br>
<h1 style="text-align: center;"> About </h1>
<br>
<br>
<br>
<br>
<h2 style="text-align: center;"> Watch.It is an independent movie platform, similar to Hulu or Netflix, providing the user with a wide selection and range of movies and TV shows, all at one click away from their viewing convenience. The site is mostly minimalistic, trying to make it as clear as possible for all users what functions they have available from the get-go and how to use them in order to maximize their enjoyment.
</h2>