<mat-toolbar>
    <menu></menu>
    <button mat-button routerLink="/log_in">Log in</button>
    <button mat-button routerLink="/sign_up">Sign up</button>
    <span style="display: table; margin: 0 auto; font-size: 24pt;"><img src="https://i.imgur.com/Lfzbmv0.png" style="height: 30px; width: 30px; margin-right: 5px;">Watch.It(placeholder)</span>
    <button mat-button>
    <mat-icon class="material-icons">
        search
    </mat-icon>
</button>

    <app-overflow-menu></app-overflow-menu>
    

  </mat-toolbar>