<mat-toolbar>
  <menu></menu>

    <div>
<!--    <button mat-button routerLink="/log_in">Log in</button>-->
<!--    <button mat-button routerLink="/sign_up">Sign up</button>-->
    </div>
  <div>
    <button mat-button routerLink="/browse"><mat-icon class="menu-icon">view_module</mat-icon> Browse</button>
    <button mat-button routerLink="/admin"><mat-icon class="menu-icon">build</mat-icon> Admin</button>

  </div>
    <span  class="watchit"><img src="https://image.flaticon.com/icons/svg/2699/2699409.svg" style="height: 30px; width: 30px; margin-right: 5px;">Watch.It</span>
  <button mat-button routerLink="/about"> About</button>
  <button mat-button routerLink="/contact"> Help</button>
  </mat-toolbar>
