<mat-card>
    <mat-card-title>Sign Up</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input
      [(ngModel)]="username"
      matInput placeholder="Username"
      formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input
      [(ngModel)]="password"
      type="password"
      matInput placeholder="Password"
      formControlName="password">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="email"
      matInput placeholder="Email"
      id="email"
      [(ngModel)]="email"
      formControlName="email">
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button (click)="signup()">Sign Up</button>

  </div>

</form>
</mat-card-content>
</mat-card>
