.mat-menu-item {
    color: #fff ;
  }
  .mat-menu-item.mat-icon:hover {
    color: #121212; ;
  }
  
  button.mat-menu-item{
      background-color: #212121;
  }
  
  button.mat-menu-item:hover {
      background-color: #d6c9c9;
      color: #212121;
  }

::ng-deep .mat-menu-content{
    background-color: #212121

}


.menu-icon{
    color: #a32828;
}

