<div class="grid">

    <mat-card *ngFor="let tvshow of tvshows">

      <mat-card-title> {{ tvshow.title }} </mat-card-title>
      <mat-card-subtitle> {{ tvshow.genre }} </mat-card-subtitle>

    <img mat-card-image src="{{ tvshow.photo }}"
    class="image"
    style="width: 100%; height: 100%; max-width: 500px; max-height: 250px;">

    <mat-card-content>
        Description:
      <br>
       {{ tvshow.description }}
    </mat-card-content>

    <mat-card-actions>
      <app-fav-button></app-fav-button>
      <button mat-raised-button matTooltip="Watch trailer"
        matTooltipShowDelay="1000"
        matTooltipHideDelay="500" (click)="openDialog(tvshow)">Trailer </button>

    </mat-card-actions>

  </mat-card>
  </div>
