.mat-card {
  /* display: block; */
  position: relative;
  max-width: 400px;
  min-width: 400px;
  min-height: 490px;
  background-color: #0097A7;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  margin: 20px;
  flex-grow: 1;
  border-radius: 0px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.mat-card:hover {
  background-color: rgba(0, 150, 167, 0.863);
}

mat-card-title {
  display: flex;
  justify-content: left;
  color: #212121;
  font-size: 15pt;
  padding-left: 20px;

}



mat-card-content {
  display: flex;
  justify-content: left;
  color: #212121;
  text-align: justify;
  font-size: 12pt;
  padding-left: 20px;
  padding-right: 20px;

}

mat-card-actions{
  padding-left: 20px;
  padding-bottom: 20px;
}
mat-card-subtitle {
  font-size: 16pt;
  color: #B2EBF2;
  font-size: 13pt;
  color: #80b5dd;
  padding-left: 20px;
}

.mat-card-image {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.mat-button {
  color: #212121;
  justify-content: flex-end;
  font-size: 14pt;
}

p {
  height: 30px;
}


@media only screen and (max-width: 600px) {
  .mat-card-image {
    max-width: 20%;
    height: auto;
  }
}

