<!-- <div>
  <mat-list>
    <mat-list-item >
      <h3 matLine> {{data.title}} </h3>
      <p matLine> {{data.genre}} </p>
      <p matLine> {{data.description}} </p>
    </mat-list-item>
  </mat-list>
</div> -->

<div>
<mat-card class="cardItem">
  <mat-card-header>
    <mat-card-title> {{ data.title }} </mat-card-title>
    <mat-card-subtitle> {{ data.genre }} </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{data.photo}}" alt="Photo of a Shiba Inu" class="image">
  <mat-card-content>
    <div id="description">

      <h4>
        Description:
      </h4>
    <p>
     {{ data.description }}
    </p>
  </div>

  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button>Watch</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card>
</div>








