.mat-card {
  display: block;
  position: relative;
  max-width: 500px;
  max-height: 530px;
  min-height: 450px;
  background-color: #202c39;
}

.mat-card-image {
  object-fit: cover;
  max-width: 500px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.mat-card-title {
  font-size: 23px;
  color: white;
}

.mat-card-subtitle {
  font-size: 18pt;
  color: #8da1b7;
}

.mat-card-content {
  font-size: 12pt;
  text-align: justify;
  color: #8da1b7;
}


.mat-button {
  color: #59a3f2;
}

p {
  height: 50px;
}
