.mat-card {
  flex: auto;
  position: relative;
  max-width: 400px;
  min-width: 400px;
  min-height: 490px;
  background-color: #212121;
    /* background-color: #a32828 ; */
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  margin: 20px;
  border-radius: 0px;

}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card:hover {
  /* background-color: #a32828; */
  transform: scale(1.025);
  
}

mat-card-title {
  display: flex;
  justify-content: left;
  color: #ffffff;
  font-size: 15pt;
  padding-left: 20px;

}

mat-card-content {
  display: flex;
  justify-content: left;
  color: rgba(255, 255, 255, 0.75);
  text-align: justify;
  font-size: 12pt;
  padding-left: 20px;
  padding-right: 20px;

}

mat-card-actions{
  
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
  
}
mat-card-subtitle {
  font-size: 16pt;
  color: #baa3a3;
  font-size: 13pt;
  padding-left: 20px;
}

.mat-card-image {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.mat-raised-button{
  margin-right: 10px;
  background-color: #a32828 ;
  color: #d6c9c9;
}
button:hover {
  color: #ffffff;

}

.mat-button {
  color: #212121;
  margin-right: 10px;
  font-size: 14pt;
}

p {
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .mat-card-image {
    max-width: 20%;
    height: auto;
  }
}

/* Trying to add a play button here */
.mat-card-image:hover{
 opacity: 0.6;
 
}